# 빌드 산출물
dist/
build/
.expo/
android/
ios/

# 로그, 환경 파일
*.log
.env

# 문서 디렉토리
docs/**

# github issue template Prettier 비활성화
.github/
audit-ci.jsonc

# 테스트 커버리지 리포트 제외
coverage/

# 리포트 산출물 제외
*.report.json
eslint-report.json
env-report.json
dependency-audit-report.json
jest-summary.json